@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

body {
    background-color: rgb(197, 197, 202);
}
nav {
    color :#c2bdee;
    
    width: 90%;
    text-align: right;
    
}
header {
    background-image: url("./images/devLuv-PNG.png");
    background-repeat: no-repeat;
    background-color: black;
    
}

#hero {
    background-color: #49eeb4;
    
}

#portfolio {
    background-color: turquoise;
    
    
}

#about {
    background-color: #c2bdee;
    opacity: 80%;
}

ul {
    list-style-type: square;
}